<div class="container-fluid">
    <div class="row">
        <div class="col">
            <mat-tab-group>
                <mat-tab label="Upload Page">
                    <label>File: </label>
                    <mat-form-field appearance="fill" class="m-3">
                        <mat-label></mat-label>
                        <input [(ngModel)]="filePath" value="{{filePath}}" matInput readonly>
                    </mat-form-field>
                    <label for="browse" class="custom-file-browse">
                        <i mat-raised-button color="primary"></i> Browse
                    </label>
                    <input type="file" (input)="onFileChange($event.target.value)" id="browse"
                        class="browse-button text-primary"/>
                    <br />
                    <button mat-raised-button color="primary" (click)="addFile()"
                        [disabled]="!isFileSelected">Upload</button>
                    <br />
                    <mat-progress-bar *ngIf="isLoading" mode="indeterminate" class="mt-5"></mat-progress-bar>
                    <mat-label *ngIf="isFileUploaded" class="mt-5">Upload complete!</mat-label>
                </mat-tab>
                <mat-tab label="History Page">
                    <label class="mt-3" mat-raised-button color="primary">Uploaded files</label>
                    <ul class="m-3">
                        <li *ngFor="let file of _filesService.getFiles() | async; index as i; first as isFirst">
                            {{file}}
                        </li>
                    </ul>
                    <br />
                    <button mat-raised-button color="primary" (click)="clearFiles()">Clear</button>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>